body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

/* CARD MALE  */

.card{
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: red;
  border: 0.2em solid black;
  border-radius: 1.5em;
}

.card header{
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
}

.card footer{
  background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
}

.card article img{
  max-height: 100%;
  float: right;
}

.card header,.card footer{
  height: 3em;
  padding: 1em;
}

.card h2,p{
  margin: 0;
}

.card article{
  height: 12em;
  background-color: hsl(0, 0%, 50%);
}

.card h2{
  font-size: 2em;
  line-height: 1.5;
}

.card footer p{
  font-size: 1.5em;
  line-height: 2;
} 

.card article p{
  padding: 1em;
  color: white;
}

/* CARD FEMALE */

.card1{
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: red;
  border: 0.2em solid black;
  border-radius: 1.5em;
}

.card1 header{
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
}

.card1 footer{
  background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
}

.card1 article img{
  max-height: 100%;
  float: right;
}

.card1 header,.card1 footer{
  height: 3em;
  padding: 1em;
}

.card1 h2,p{
  margin: 0;
}

.card1 article{
  height: 12em;
  background-color: hsl(0, 0%, 50%);
}

.card1 h2{
  font-size: 2em;
  line-height: 1.5;
}

.card1 footer p{
  font-size: 1.5em;
  line-height: 2;
} 

.card1 article p{
  padding: 1em;
  color: white;
}
