html {
    background-color: white;
}

#lista {
    list-style-position: inside;
    border: 2px solid black;
    padding: 5px;
    width: 250px;
    background-color: white;
}

li {
    padding: 3px;
    padding-left: 34px;
    margin-bottom: 5px;
}

li:last-child {
    margin-bottom: 0px;
}

#england{
    background-color: hsl(120, 100%, 25%);
    background-image: url(en-GB.png);
    background-repeat: no-repeat;
    background-position: 5px;
    
}

#spain{
    background-color: hsl(240, 100%, 50%);
    background-image: url(es.png);
    background-repeat: no-repeat;
    background-position: 5px;
}

#germany{
    background-color: hsl(0, 100%, 75%);
    background-image: url(de.png);
    background-repeat: no-repeat;
    background-position: 5px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: red;
    text-transform: uppercase;
}


   